<div class="card-trip">
<h1>Movie Lists</h1>
  <img src=	"https://assets3.thrillist.com/v1/image/2771696/792x528/scale;webp=auto;jpeg_quality=60;progressive.jpg" />
</div>
   <%= link_to "Create a new list", new_list_path, class: 'btn btn-primary btn-sm mt-3' %>
</div>

<% @lists.each do |list| %>

  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key)  : asset_path('IMG_1351.jpg') %>)">
    <h1><%= list.name%></h1>
    </div>
  </div>
<% end %>
