<h1>Movie Lists</h1>

<div class="card-trip">
  <img src=	"https://assets3.thrillist.com/v1/image/2771696/792x528/scale;webp=auto;jpeg_quality=60;progressive.jpg" />

  <div class="card-trip-infos">
    <div>
      <h2>All Lists</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
<a class="btn btn-ghost" href="#">Create a new list</a>

  </div>
</div>
